{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% for feedback in feedbacks %}
            <div class="col-sm-auto col-md-auto">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h3>{{ feedback.title }}</h3>
                            <h5>{{ feedback.content }}</h5>
                        </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}