{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h3>Your Rides are:</h3><br>
  <div class="row">
        {% for ride in rides %}
            <div class="col-sm-6 col-md-auto">
                <div class="content-section">
                    <div class="media">
                        <div>
                            <h6 style="color: #2b2b2bd2;">Source:</h6><h5>{{ ride.source }}</h5></h5>
                            <h6 style="color: #2b2b2bd2;">Destination:</h6><h5>{{ ride.destination }}</h5>
                            <h6 style="color: #2b2b2bd2;">Date:</h6><h5> {{ ride.dateOfRide }}</h5>
                            <hr>
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div class="col">
                                        <a class="btn btn-outline-info btn-sm" href="{{ url_for('updateRide', rideId=ride.id) }}">Update Ride</a>
                                    </div>
                                    <div  class="col">
                                        <form action="{{ url_for('deleteRide', rideId=ride.id) }}" method="POST">
                                            <input class="btn btn-warning btn-sm" type="submit" value="Delete">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        {% endfor %}
  </div>
</div>
{% endblock content %}