{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm col-md-8">
                <div class="content-section">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Update Ride</legend>
                            <div class="form-group">
                                {{ form.source.label(class="form-control-label") }}
                                {% if form.source.errors %}
                                    {{ form.source(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.source.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.source(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.destination.label(class="form-control-label") }}
                                {% if form.destination.errors %}
                                    {{ form.destination(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.destination.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.destination(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.date.label(class="form-control-label") }}
                                {% if form.date.errors %}
                                    {{ form.date(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.date.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.date(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                              {{ form.preference.label(class="form-control-label") }}
                              {% if form.preference.errors %}
                                  {{ form.preference(class="form-control form-control-lg is-invalid") }}
                                  <div class="invalid-feedback">
                                      {% for error in form.preference.errors %}
                                          <span>{{ error }}</span>
                                      {% endfor %}
                                  </div>
                              {% else %}
                                  {{ form.preference(class="form-control form-control-lg") }}
                              {% endif %}
                          </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex justify-content-between">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}