{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h3>Your Rides are:</h3><br>
        <div class="row">
            {% for ride in rides.items %}
                <div class="col-sm-6 col-md-auto">
                    <div class="content-section">
                        <div class="media">
                            <div>
                                <h6 style="color: #2b2b2bd2;">Source:</h6><h5>{{ ride.source }}</h5></h5>
                                <h6 style="color: #2b2b2bd2;">Destination:</h6><h5>{{ ride.destination }}</h5>
                                <h6 style="color: #2b2b2bd2;">Date:</h6><h5> {{ ride.dateOfRide }}</h5>
                                <hr>
                                <div class="row">
                                    <div class="d-flex justify-content-between">
                                        <div class="col">
                                            <a class="btn btn-outline-info btn-sm" href="{{ url_for('ride.updateRide', rideId=ride.id) }}">Update Ride</a>
                                        </div>
                                        <div  class="col">
                                            <form action="{{ url_for('ride.deleteRide', rideId=ride.id) }}" method="POST">
                                                <input class="btn btn-warning btn-sm" type="submit" value="Delete">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            {% endfor %}
        </div>
            {% for pageNum in rides.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=3) %}
                {% if pageNum %}
                    {% if pageNum != curPage %}
                        <a class = "btn btn-outline-info" href="{{ url_for('ride.allRides', page=pageNum) }}">{{ pageNum }}</a>
                    {% else %}
                        <a class = "btn btn-light" href="">{{ pageNum }}</a>
                    {% endif %}
                {% else %}
                    ....
                {% endif %}
            {% endfor %}
    </div>
{% endblock content %}